body{
    background-color: royalblue;
    color: ghostwhite;
  }
  .text{
    text-align: center;
  }
  #newbutton{
    text-align: center;
  }
  .my-button{
    height: 50px;
    width: 130px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    border-radius: 8px;
    cursor: pointer;
    background-color: darkgray;
    color: ghostwhite;
}
    .my-button:hover{
        background-color: gray;
    }
  .botao-bonito{
    background-color: #4CAF50;
    color: white;
    height: 65px;
    width: 140px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    border: 3px solid black;
  }
  
  .botao-bonito:hover {
    background-color: #45a049;
  }
  .botao-errado{
    background-color: crimson;
    color: white;
    height: 65px;
    width: 140px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;         
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    border: 3px solid black;
  }
  
  .botao-errado:hover {
    background-color: firebrick;
  }
  .invert{
    background-color: ghostwhite;
    color: black;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 55px;
    width: 120px;
    font-size: 18px;
    border: 2px solid black;
  }
  .invert:hover{
    background-color: black;
    color: ghostwhite;
    border: 2px solid ghostwhite;
  }
